Section_2_Sales_Data_Pipeline.json
{
  "name": "Section 2 - Sales Data Pipeline",
  "nodes": [
    {"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-128],"id":"b731f063-b534-403e-8a65-c5dd1462f573","name":"TriggerManual"},
    {"parameters":{"url":"https://learn.app.n8n.cloud/webhook/course/n8n101/sales-data","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Assessment-ID","value":"aa8503105d77249d61f0ea1276213f30"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,-128],"id":"1bf19724-d4b2-4449-9a60-f3746e20eb0e","name":"GetSalesData"},
    {"parameters":{"fieldToSplitOut":"orders","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,-128],"id":"b20373f9-1db8-4506-9324-025734c5fe2c","name":"SplitOrders"},
    {"parameters":{"assignments":{"assignments":[{"id":"b69ee777-8f7d-4cc3-8c19-196e004a84f7","name":"order_id","value":"={{ $json.order_id }}","type":"string"},{"id":"3ca48ad2-9420-49ca-a505-7bb99b1ad7a2","name":"customer_name","value":"={{ $json.customer_name  }}","type":"string"},{"id":"67f782e1-f9f9-4885-9e2e-341477c0e72c","name":"region","value":"={{ $json.region  }}","type":"string"},{"id":"183bdd93-6c4a-4ddc-8bf8-88d2828f7b04","name":"status","value":"={{ $json.status  }}","type":"string"},{"id":"74e34e82-3588-46ec-a259-a2d50c1c96d8","name":"order_total","value":"= {{ $json.quantity * $json.unit_price}}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,-128],"id":"b7cc831a-af68-42d6-a1f9-cf17ee51fa9f","name":"SetOrderTotals"},
    {"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"orders","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[896,-32],"id":"c9427946-abd9-412a-97a3-04c331b00970","name":"AggregateOrders"},
    {"parameters":{"method":"POST","url":"https://learn.app.n8n.cloud/webhook/course/n8n101/process-orders","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Assessment-ID","value":"aa8503105d77249d61f0ea1276213f30"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"orders","value":"={{ $json.orders }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1120,-32],"id":"6afdfb0e-4112-481e-bc50-02d03be51f2e","name":"SendOrders"},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d30764d4-83dd-4f42-b5e2-90d286976f8d","leftValue":"={{ $json.status }}","rightValue":"delivered","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[896,-224],"id":"d5ef3ce8-6eaf-4a06-8755-cdab84a5c5bd","name":"FilterDelivered"},
    {"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"order_total"},{"field":"order_total"},{"aggregation":"average","field":"order_total"}]},"fieldsToSplitBy":"region","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1120,-368],"id":"35301467-b345-4771-aabc-67beb90a6dd5","name":"SummarizeByRegion"},
    {"parameters":{"keys":{"key":[{"currentKey":"sum_order_total","newKey":"order_totals"},{"currentKey":"count_order_total","newKey":"order_count"},{"currentKey":"average_order_total","newKey":"average_order_total"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[1360,-368],"id":"21f17707-fae3-4bff-bc70-feaf101cd11c","name":"UpdateFieldNames"},
    {"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"regions","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1568,-320],"id":"826ad0a8-3e3c-44b1-8b3c-54857f748d17","name":"AggregateRegions"},
    {"parameters":{"method":"POST","url":"https://learn.app.n8n.cloud/webhook/course/n8n101/validate-analysis","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Assessment-ID","value":"aa8503105d77249d61f0ea1276213f30"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"regions","value":"={{ $json.regions }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1792,-320],"id":"79ebd8d6-8df6-4815-99f7-6251c648a8b5","name":"SendAnalysis"},
    {"parameters":{"assignments":{"assignments":[{"id":"5b1d317c-14c1-42a0-806c-70249da72c2b","name":"report_generated","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","type":"string"},{"id":"814bb428-3e57-428a-a021-758f3cb45f61","name":"assessment_id","value":"aa8503105d77249d61f0ea1276213f30","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,-128],"id":"dd416898-b7ad-47c2-96e6-0de957b39539","name":"SetReportMetadata"},
    {"parameters":{"binaryPropertyName":"report","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1792,-128],"id":"822e328a-db1d-4cc7-a6e5-4b4bce7805cb","name":"COnvertToCSV"},
    {"parameters":{"method":"POST","url":"https://learn.app.n8n.cloud/webhook/course/n8n101/send-report","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Assessment-ID","value":"aa8503105d77249d61f0ea1276213f30"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"report","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2016,-128],"id":"81072400-b568-4386-9598-3561d45a816c","name":"SendReport"},
    {"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,-176],"id":"908964f7-abcd-4587-aa9a-35a1cd3d4eac","name":"IgnoreNonDelievered"},
    {"parameters":{"content":"# Academy Section 2 Sales Data Pipeline\nCreated by: Edonna Lapena\nDate: 11-07-2026\n\nThis workflow creates the sales data pipeline including 3 branches for sending different reports and details to the data warehouse.\nPart of: n8n Foundations Course, Section 2","height":320,"width":288},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-112,-544],"id":"4692155b-75da-43ce-9afb-74e3483d7adf","name":"Sticky Note"}
  ],
  "connections": {
    "TriggerManual":{"main":[[{"node":"GetSalesData","type":"main","index":0}]]},
    "GetSalesData":{"main":[[{"node":"SplitOrders","type":"main","index":0}]]},
    "SplitOrders":{"main":[[{"node":"SetOrderTotals","type":"main","index":0}]]},
    "SetOrderTotals":{"main":[[{"node":"FilterDelivered","type":"main","index":0},{"node":"AggregateOrders","type":"main","index":0}]]},
    "AggregateOrders":{"main":[[{"node":"SendOrders","type":"main","index":0}]]},
    "FilterDelivered":{"main":[[{"node":"SummarizeByRegion","type":"main","index":0}],[{"node":"IgnoreNonDelievered","type":"main","index":0}]]},
    "SummarizeByRegion":{"main":[[{"node":"UpdateFieldNames","type":"main","index":0}]]},
    "UpdateFieldNames":{"main":[[{"node":"SetReportMetadata","type":"main","index":0},{"node":"AggregateRegions","type":"main","index":0}]]},
    "AggregateRegions":{"main":[[{"node":"SendAnalysis","type":"main","index":0}]]},
    "SetReportMetadata":{"main":[[{"node":"COnvertToCSV","type":"main","index":0}]]},
    "COnvertToCSV":{"main":[[{"node":"SendReport","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1"},
  "pinData": {}
}
