Section_1_API_Integration_Pipeline.json
{
  "name": "Section 1 - API Integration Pipeline",
  "nodes": [
    {"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,16],"id":"b0c56d2b-4886-4c57-b43e-71f1f409cc22","name":"TriggerManual"},
    {"parameters":{"url":"https://learn.app.n8n.cloud/webhook/course/n8n102/orders","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Assessment-ID","value":"aa8503105d77249d61f0ea1276213f30"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"page","value":"={{ $pageCount + 1 }}"}]}}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,-80],"id":"393e8817-5552-4d60-85cf-8e9eb73463da","name":"GetOrders"},
    {"parameters":{"url":"https://learn.app.n8n.cloud/webhook/course/n8n102/customers","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Assessment-ID","value":"aa8503105d77249d61f0ea1276213f30"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,112],"id":"5f3c0473-deee-47fd-bafe-94aa6f56a0c7","name":"GetCustomers","onError":"continueRegularOutput"},
    {"parameters":{"mode":"combine","fieldsToMatchString":"customer_id","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[576,-16],"id":"f2696716-3aed-480f-98f9-67a0cfd56839","name":"MergeOrdersCustomers"},
    {"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"enriched_orders","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[864,-176],"id":"42baad48-bdce-49fb-b500-a9fcceab2748","name":"AggregateOrders"},
    {"parameters":{"method":"POST","url":"https://learn.app.n8n.cloud/webhook/course/n8n102/orders-queue","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Assessment-ID","value":"aa8503105d77249d61f0ea1276213f30"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"enriched_orders","value":"={{ $json.enriched_orders }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1120,-176],"id":"2baf4903-e69e-442a-9a78-95eb19491878","name":"SendToOrdersQueue"},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"52436298-8767-4a93-bde8-a284b65ea61b","leftValue":"={{ $json.subscription }}","rightValue":"Enterprise","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[800,144],"id":"c604fb64-3d95-482b-927a-6e1cb84704f9","name":"CheckSubscriptionTier"},
    {"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.region }}","rightValue":"north","operator":{"type":"string","operation":"equals"},"id":"569f51bd-9290-4436-b8eb-3785f7ee4b8f"}],"combinator":"and"},"renameOutput":true,"outputKey":"North"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"329c079d-c578-4f32-8965-f107b3a08622","leftValue":"={{ $json.region }}","rightValue":"south","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"South"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7d6efe5e-f15a-4574-8061-5b3e05ce40fa","leftValue":"={{ $json.region }}","rightValue":"east","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"East"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"0332ff48-bbeb-4191-9774-31ebd2d45bf0","leftValue":"={{ $json.region }}","rightValue":"west","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"West"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1024,304],"id":"23576433-e56a-4802-93a0-d967481215b0","name":"RouteByRegion"},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f9dc9bb9-4241-4f54-af0c-c5f9fadd700c","leftValue":"={{ $json.status }}","rightValue":"delivered","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[992,32],"id":"8724f843-23df-46c9-9507-a89aa83f9ecb","name":"FilterDelivered"},
    {"parameters":{"method":"POST","url":"https://learn.app.n8n.cloud/webhook/course/n8n102/priority-queue","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Assessment-ID","value":"aa8503105d77249d61f0ea1276213f30"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"order_id","value":"={{ $json.order_id }}"},{"name":"customer_id","value":"={{ $json.customer_id }}"},{"name":"company_name","value":"={{ $json.customer_name }}"},{"name":"subscription","value":"={{ $json.subscription }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1568,32],"id":"97a90367-89b5-4f51-96fe-fd31ee2b332c","name":"SendToPriorityQueue"},
    {"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1280,-32],"id":"b0ba535e-f34c-466b-8604-7b9679a02d54","name":"BatchPriorityOrders"},
    {"parameters":{"method":"POST","url":"https://learn.app.n8n.cloud/webhook/course/n8n102/finalize","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Assessment-ID","value":"aa8503105d77249d61f0ea1276213f30"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"total_orders","value":"={{ $('MergeOrdersCustomers').all().length }}"},{"name":"enterprise_count","value":"={{ $('FilterDelivered').all().length }}"},{"name":"batch_size","value":"={{ $('BatchPriorityOrders').params.batchSize }}"},{"name":"retry_enabled","value":"={{ true }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1552,-176],"id":"da55127b-42ec-4573-b895-9e8bdab640ad","name":"FinalizePipeline","executeOnce":true},
    {"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1328,224],"id":"bb6fbeb9-a78e-4cab-a348-266140040c58","name":"ProcessNorth"},
    {"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1328,352],"id":"9f80de32-3188-4ef2-bdb5-503be0eacea7","name":"ProcessSouth"},
    {"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1328,512],"id":"96cc71e9-2e04-4989-9916-43a3616996c6","name":"ProcessEast"},
    {"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1328,688],"id":"5ebd3511-8699-4335-9ac5-e0e28c913de7","name":"ProcessWest"},
    {"parameters":{"assignments":{"assignments":[{"id":"1d85abf0-68f4-4a77-b0f5-36511e4135df","name":"customer_id","value":"unknown","type":"string"},{"id":"3728d822-f092-4e33-ada0-b41dc5e6ab03","name":"company_name","value":"unknown company","type":"string"},{"id":"9718699c-b7d6-4690-85cd-32b362cf7cd2","name":"subscription","value":"starter","type":"string"},{"id":"76a19db1-c345-4f3a-bd53-4118b4c24140","name":"account_manager","value":"unassigned","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,224],"id":"a5531958-f670-4b89-a7b7-dc8ba4a1186a","name":"SetFallbackCustomer"},
    {"parameters":{"content":"# API Integration Pipeline\n\nOwned By: Maria Edonna Jane Lapena\nLast Updated: 12/07/2026\n\nFetches orders from the Academy API, enriches them with customer\ndata, routes by priority and region, and sends enterprise orders\nto a priority queue in batches.\n\n## Flow\n1. GetOrders: Fetches paginated orders from the Academy API\n2. GetCustomers: Fetches customer records (parallel with orders)\n3. MergeOrdersCustomers: Joins orders + customers on customer_id\n4. AggregateOrders + SendToOrdersQueue: Batches and sends enriched orders\n5. CheckSubscriptionTier: Splits enterprise vs other customers\n6. FilterDelivered + BatchPriorityOrders: Filters and batches enterprise orders\n7. SendToPriorityQueue: Posts priority orders to the Academy API\n8. RouteByRegion: Routes non-enterprise orders by region\n9. FinalizePipeline: Posts summary for grading\n\n## Dependencies\n- Requires: n8n Academy API Key credential\n\nPart of: n8n Foundations Program Course N8N102, Section 1","height":768,"width":528},"type":"n8n-nodes-base.stickyNote","position":[-624,-192],"typeVersion":1,"id":"17587b7a-3a2d-4180-b8e1-125aff04c36c","name":"Sticky Note"}
  ],
  "connections": {
    "TriggerManual":{"main":[[{"node":"GetOrders","type":"main","index":0},{"node":"GetCustomers","type":"main","index":0}]]},
    "GetOrders":{"main":[[{"node":"MergeOrdersCustomers","type":"main","index":0}]]},
    "GetCustomers":{"main":[[{"node":"MergeOrdersCustomers","type":"main","index":1},{"node":"SetFallbackCustomer","type":"main","index":0}]]},
    "MergeOrdersCustomers":{"main":[[{"node":"AggregateOrders","type":"main","index":0},{"node":"CheckSubscriptionTier","type":"main","index":0}]]},
    "AggregateOrders":{"main":[[{"node":"SendToOrdersQueue","type":"main","index":0}]]},
    "SendToOrdersQueue":{"main":[[]]},
    "CheckSubscriptionTier":{"main":[[{"node":"FilterDelivered","type":"main","index":0}],[{"node":"RouteByRegion","type":"main","index":0}]]},
    "FilterDelivered":{"main":[[{"node":"BatchPriorityOrders","type":"main","index":0}]]},
    "BatchPriorityOrders":{"main":[[{"node":"FinalizePipeline","type":"main","index":0}],[{"node":"SendToPriorityQueue","type":"main","index":0}]]},
    "SendToPriorityQueue":{"main":[[{"node":"BatchPriorityOrders","type":"main","index":0}]]},
    "RouteByRegion":{"main":[[{"node":"ProcessNorth","type":"main","index":0}],[{"node":"ProcessSouth","type":"main","index":0}],[{"node":"ProcessEast","type":"main","index":0}],[{"node":"ProcessWest","type":"main","index":0}],[]]},
    "SetFallbackCustomer":{"main":[[{"node":"MergeOrdersCustomers","type":"main","index":1}]]}
  },
  "settings": {"executionOrder":"v1"},
  "pinData": {}
}
