USTP_College_of_Medicine_Admission_Workflow.json
{
  "name": "USTP College of Medicine Admission Workflow",
  "nodes": [
    {"parameters":{"operation":"pdf","options":{"joinPages":true}},"id":"4f39cb3d-4c3f-46d4-a1f8-83c619987382","name":"Extract Transcript PDF","type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[576,400]},
    {"parameters":{"promptType":"define","text":"=Analyze the following transcript and extract:\n1. All science subjects (Biology, Chemistry, Physics, etc.) and math subjects\n2. Calculate the GWA for science and math subjects only\n3. Extract the overall GWA\n4. Determine if overall GWA is 85 or higher\n\nTranscript:\n{{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"You are an academic records analyst for USTP College of Medicine. Extract grades from transcripts and calculate weighted averages accurately. Return structured data in the exact format specified."}},"id":"b6106374-2fca-43ae-905e-d9d50c9f15b9","name":"Analyze Academic Records","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[912,400]},
    {"parameters":{"jsonSchemaExample":"{\"scienceMathGWA\":87.5,\"scienceMathSubjects\":[\"Biology 101: 90%\",\"Chemistry 101: 88%\",\"Physics 101: 85%\",\"Mathematics 101: 88%\"],\"overallGWA\":88,\"meetsGWARequirement\":true}"},"id":"4f824ac4-0b97-4dd3-a5e1-bd2a234496f8","name":"Grading Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1152,576]},
    {"parameters":{"mode":"runOnceForEachItem","jsCode":"const triggerData = $(\"Google Sheets Trigger\").item.json;\nconst academicData = $json.output;\n\nconst nmatScore = parseFloat(triggerData.NMAT);\nconst overallGWA = academicData.overallGWA;\nconst scienceMathGWA = academicData.scienceMathGWA;\n\nconst meetsNMAT = nmatScore >= 85;\nconst meetsGWA = overallGWA >= 85;\nconst meetsScienceMathGWA = scienceMathGWA >= 85;\n\nconst isQualified = meetsNMAT && meetsGWA && meetsScienceMathGWA;\n\nreturn {\n  fullName: triggerData[\"Full Name\"],\n  email: triggerData.Email,\n  nmatScore: nmatScore,\n  overallGWA: overallGWA,\n  scienceMathGWA: scienceMathGWA,\n  scienceMathSubjects: academicData.scienceMathSubjects,\n  meetsNMAT: meetsNMAT,\n  meetsGWA: meetsGWA,\n  meetsScienceMathGWA: meetsScienceMathGWA,\n  isQualified: isQualified,\n  status: isQualified ? \"For Interview\" : \"Rejected\",\n  evaluationDate: new Date().toISOString()\n};"},"id":"23ff8f8c-0411-40cf-b2b8-037c6472f82f","name":"Check Admission Requirements","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,400]},
    {"parameters":{"conditions":{"combinator":"and","options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.isQualified }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}]},"options":{}},"id":"6eb02b42-e826-4911-88ea-438d029a4738","name":"Check if Qualified","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1808,400]},
    {"parameters":{"calendar":{"__rl":true,"value":"ma.edonnajanelapena@gmail.com","mode":"list","cachedResultName":"ma.edonnajanelapena@gmail.com"},"start":"={{ $now.plus(7, \"days\").set({ hour: 9, minute: 0 }).toISO() }}","end":"={{ $now.plus(7, \"days\").set({ hour: 10, minute: 0 }).toISO() }}","additionalFields":{"attendees":["={{ $json.email }}"],"description":"=Interview for USTP College of Medicine admission.\n\nApplicant: {{ $json.fullName }}\nEmail: {{ $json.email }}\nNMAT Score: {{ $json.nmatScore }}\nOverall GWA: {{ $json.overallGWA }}\nScience/Math GWA: {{ $json.scienceMathGWA }}","location":"USTP College of Medicine, Cagayan de Oro City","summary":"=Medical School Interview - {{ $json.fullName }}"}},"id":"6f6a3cf8-49aa-4a68-9773-0fd91fcb44d8","name":"Schedule Interview","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[2032,304]},
    {"parameters":{"sendTo":"={{ $(\"Check Admission Requirements\").item.json.email }}","subject":"Congratulations! USTP College of Medicine - Interview Invitation","message":"=Dear {{ $(\"Check Admission Requirements\").item.json.fullName }},\n\n<p>Congratulations! We are pleased to inform you that you have passed the initial screening for admission to the USTP College of Medicine.</p>\n\n<p><strong>Your Application Summary:</strong></p>\n<ul>\n<li>NMAT Score: {{ $(\"Check Admission Requirements\").item.json.nmatScore }}</li>\n<li>Overall GWA: {{ $(\"Check Admission Requirements\").item.json.overallGWA }}</li>\n<li>Science/Math GWA: {{ $(\"Check Admission Requirements\").item.json.scienceMathGWA }}</li>\n</ul>\n\n<p><strong>Interview Schedule:</strong></p>\n<p>Date & Time: {{ $now.plus(7, \"days\").toFormat(\"MMMM d, yyyy\") }} at 9:00 AM</p>\n<p>Location: USTP College of Medicine, Cagayan de Oro City</p>\n<p>A calendar invitation has been sent to your email.</p>\n\n<p>Please confirm your attendance by replying to this email.</p>\n\n<p>Best regards,<br>USTP College of Medicine Admissions Office</p>","options":{}},"id":"7083a736-5369-4896-8f73-49ce58a2af70","name":"Send Interview Invitation","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2480,304],"webhookId":"4760496a-af83-42af-acdd-1764d3badc28"},
    {"parameters":{"sendTo":"={{ $json.email }}","subject":"USTP College of Medicine - Application Status","message":"=Dear {{ $json.fullName }},\n\n<p>Thank you for your interest in the USTP College of Medicine.</p>\n\n<p>After careful review of your application, we regret to inform you that we are unable to offer you admission at this time.</p>\n\n<p><strong>Your Application Summary:</strong></p>\n<ul>\n<li>NMAT Score: {{ $json.nmatScore }} (Required: 85)</li>\n<li>Overall GWA: {{ $json.overallGWA }} (Required: 85)</li>\n<li>Science/Math GWA: {{ $json.scienceMathGWA }} (Required: 85)</li>\n</ul>\n\n<p>We encourage you to continue pursuing your academic goals and consider reapplying in the future.</p>\n\n<p>Best regards,<br>USTP College of Medicine Admissions Office</p>","options":{}},"id":"f7c930ca-2888-48b1-9a34-4730b439415f","name":"Send Rejection Letter","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[2032,496],"webhookId":"aba9ddf6-264e-4b07-9d77-bd720f3f7a97"},
    {"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"11Uib66-QTAkKNro0KqrpetR8RzDx-iVGPmT3oRpVePY","mode":"list","cachedResultName":"Admission Forms","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11Uib66-QTAkKNro0KqrpetR8RzDx-iVGPmT3oRpVePY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2001076872,"mode":"list","cachedResultName":"Form responses 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11Uib66-QTAkKNro0KqrpetR8RzDx-iVGPmT3oRpVePY/edit#gid=2001076872"},"includeInOutput":"both","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[128,400],"id":"79206e2b-55e7-4188-9720-e244609a2439","name":"Google Sheets Trigger"},
    {"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11Uib66-QTAkKNro0KqrpetR8RzDx-iVGPmT3oRpVePY","mode":"list","cachedResultName":"Admission Forms","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11Uib66-QTAkKNro0KqrpetR8RzDx-iVGPmT3oRpVePY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2001076872,"mode":"list","cachedResultName":"Form responses 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11Uib66-QTAkKNro0KqrpetR8RzDx-iVGPmT3oRpVePY/edit#gid=2001076872"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Interview "],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NMAT","displayName":"NMAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transcriptOfRecords","displayName":"transcriptOfRecords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Interview ","displayName":"Interview ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Accepted/Rejected","displayName":"Accepted/Rejected","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1584,400],"id":"dc835d1e-795b-4054-9296-ede5dc595aa5","name":"Append or update row in sheet"},
    {"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"11Uib66-QTAkKNro0KqrpetR8RzDx-iVGPmT3oRpVePY","mode":"list","cachedResultName":"Admission Forms","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11Uib66-QTAkKNro0KqrpetR8RzDx-iVGPmT3oRpVePY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2001076872,"mode":"list","cachedResultName":"Form responses 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/11Uib66-QTAkKNro0KqrpetR8RzDx-iVGPmT3oRpVePY/edit#gid=2001076872"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["Accepted/Rejected"],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NMAT","displayName":"NMAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"transcriptOfRecords","displayName":"transcriptOfRecords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Interview ","displayName":"Interview ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Accepted/Rejected","displayName":"Accepted/Rejected","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"nmatScore","displayName":"nmatScore","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"overallGWA","displayName":"overallGWA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"scienceMathGWA","displayName":"scienceMathGWA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"scienceMathSubjects","displayName":"scienceMathSubjects","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"meetsNMAT","displayName":"meetsNMAT","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"meetsGWA","displayName":"meetsGWA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"meetsScienceMathGWA","displayName":"meetsScienceMathGWA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"isQualified","displayName":"isQualified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"evaluationDate","displayName":"evaluationDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"start","displayName":"start","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"end","displayName":"end","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"attendees","displayName":"attendees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"creator","displayName":"creator","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organizer","displayName":"organizer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created","displayName":"created","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"updated","displayName":"updated","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"etag","displayName":"etag","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"eventType","displayName":"eventType","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"htmlLink","displayName":"htmlLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"iCalUID","displayName":"iCalUID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"kind","displayName":"kind","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reminders","displayName":"reminders","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sequence","displayName":"sequence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2256,304],"id":"93eeb997-30bf-4ee7-a25c-c7b9a1e5774e","name":"Append or update row in sheet1"},
    {"parameters":{"operation":"download","fileId":{"__rl":true,"value":"1vRIDyBwwoSpnCYJ7wwflxeGTiJnHSU5f","mode":"list","cachedResultName":"transcriptOfRecords - Edonna Lapeña.pdf","cachedResultUrl":"https://drive.google.com/file/d/1vRIDyBwwoSpnCYJ7wwflxeGTiJnHSU5f/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[352,400],"id":"240513b6-53f4-4a01-b6a2-11985499a126","name":"Download file"},
    {"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.3,"position":[1008,592],"id":"6f7e29c5-320d-46ee-8bd7-b7f8fd5c8aaa","name":"Code Tool"},
    {"parameters":{"model":"openai/gpt-oss-120b","options":{}},"type":"@basetenlabs/n8n-nodes-baseten.lmChatBaseten","typeVersion":1,"position":[832,592],"id":"bbfcedb3-3ac0-4895-a58a-cdfa8fa7fbfa","name":"Baseten Chat Model"},
    {"parameters":{"content":"Purpose\n\nThis workflow automates the applicant screening process by analyzing uploaded transcripts, evaluating academic qualifications against the admission criteria, and managing applicant status. It reduces manual evaluation time and ensures a consistent and objective admission process.","height":288,"width":304},"type":"n8n-nodes-base.stickyNote","position":[-240,80],"typeVersion":1,"id":"2710df2b-958e-4840-ba35-5d7ad66f13bd","name":"Sticky Note"},
    {"parameters":{"content":"Workflow Steps:\n1. Google Sheets Trigger\nDetects new or updated applicant records in Google Sheets.\n\n2. Download File\nDownloads the applicant's uploaded transcript (PDF) from Google Drive.\n\n3. Extract Transcript PDF\nExtracts text and academic information from the transcript.","height":400,"width":608,"color":2},"type":"n8n-nodes-base.stickyNote","position":[112,208],"typeVersion":1,"id":"291f347b-b46b-4070-b3e6-81d78992569d","name":"Sticky Note1"},
    {"parameters":{"content":"Workflow Requirements:\n\n4. Analyze Academic Record\nThe AI model analyzes the transcript, computes academic performance (e.g., GWA), and generates structured output using the Output Parser.\n\n5. Check Admission Workflow Requirements:\nValidates whether the applicant meets the predefined admission requirements based on the extracted academic data.","height":592,"width":752,"color":3},"type":"n8n-nodes-base.stickyNote","position":[736,160],"typeVersion":1,"id":"2f53916e-4151-405c-8010-5dcc1fdc83aa","name":"Sticky Note2"},
    {"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n6. Update Applicant Record\nSaves or updates the evaluation results in the admissions Google Sheet.\n\n7. Decision Node – Check if Qualified\nDetermines whether the applicant qualifies for admission based on the evaluation results.","height":608,"width":448,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1520,144],"typeVersion":1,"id":"b78bd361-951e-4f22-b268-1d5d4824efb9","name":"Sticky Note3"},
    {"parameters":{"content":"If Qualified\n1. Schedule an interview using Google Calendar.\n2. Update the applicant record with the interview details.\n3. Automatically send an interview invitation via Gmail.","height":352,"width":720,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1984,128],"typeVersion":1,"id":"6e165fd6-109e-4b48-928e-7f83990a6c20","name":"Sticky Note4"},
    {"parameters":{"content":"\n\n\n\n\n\n\n\nIf Not Qualified\n1. Automatically send a rejection letter via Gmail.\n2. Record the applicant's evaluation status in the admissions sheet.","height":352,"width":416},"type":"n8n-nodes-base.stickyNote","position":[1984,480],"typeVersion":1,"id":"da90bf6c-399d-4e3c-8e02-397cd65bbc71","name":"Sticky Note5"}
  ],
  "connections": {
    "Extract Transcript PDF":{"main":[[{"node":"Analyze Academic Records","type":"main","index":0}]]},
    "Analyze Academic Records":{"main":[[{"node":"Check Admission Requirements","type":"main","index":0}]]},
    "Grading Output Parser":{"ai_outputParser":[[{"node":"Analyze Academic Records","type":"ai_outputParser","index":0}]]},
    "Check Admission Requirements":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},
    "Check if Qualified":{"main":[[{"node":"Schedule Interview","type":"main","index":0}],[{"node":"Send Rejection Letter","type":"main","index":0}]]},
    "Schedule Interview":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]},
    "Google Sheets Trigger":{"main":[[{"node":"Download file","type":"main","index":0}]]},
    "Append or update row in sheet":{"main":[[{"node":"Check if Qualified","type":"main","index":0}]]},
    "Append or update row in sheet1":{"main":[[{"node":"Send Interview Invitation","type":"main","index":0}]]},
    "Download file":{"main":[[{"node":"Extract Transcript PDF","type":"main","index":0}]]},
    "Code Tool":{"ai_tool":[[{"node":"Analyze Academic Records","type":"ai_tool","index":0}]]},
    "Baseten Chat Model":{"ai_languageModel":[[{"node":"Analyze Academic Records","type":"ai_languageModel","index":0}]]}
  },
  "settings": {"executionOrder":"v1"},
  "pinData": {}
}
